.btn {
 
  font-size: 15px;
  margin-left:15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 5px;
  
}
label{
  margin-left:5px;
}
