<div style="height: 100px; background-color:rgb(230, 126, 34    )">
  <div class=" container-fluid w-25 p-3" >

    <div class="row justify-content-md-center" style="color:black">
      <div class="col col-lg-2 ">
        <p> <b> When the button 'increment-btn' is clicked, label 'number-lbl' should increment by 1 on each button click. </b></p>
      </div>
      <br />
      <div>
        <label>{{number_lbl}}</label> <!--Create label-->

        <button type="button" class="btn btn-primary" (click)="increment_btn()">Increment</button>  <!--Create button, when button is clicked the function onIncrrement() in component.ts file is executed and the label is increased accordingly-->
      </div>
    </div>

  </div>
  </div>
